<div class="flex-content">
  <div class="content col-sm-12 container-fluid">


    <div *ngFor="let project of projects" class="row project-list">
    </div>

    <div class="row project-list">
      <div class="col-sm-5 col-xl-4 card-box">
        <div class="card">
          <div class="card-block">
            <h2 class="card-text">Mulit-projection Project</h2>
            <h5 class="card-text">Development of Realistic Media and Presentation System for large Auditorium</h5>
            <div class="card-desc">
              <div class="card-desc-title">Area</div>
              <div class="card-desc-text">
                <p class="card-text">Immersive media display system, Multi-projection contents optimization</p>
              </div>
            </div>
            <div class="card-desc">
              <div class="card-desc-title">Partners</div>
              <div class="card-desc-text">
                <p class="card-text">KAI Co. CJ CGV Co.</p>
              </div>
            </div>
            <div class="card-desc">
              <div class="card-desc-title">Team</div>
              <div class="card-desc-text">
                <p class="card-text">Eve</p>
              </div>
            </div>
            <div class="card-desc">
              <a href="#" class="btn btn-primary">More</a>
            </div>


          </div>
        </div>
      </div>
      <div class="col-sm-7 col-xl-6 card-box">
        <div class="card"><img src="http://placehold.it/400x400" class="project-img" />
        </div>
      </div>
    </div>
    <div class="row project-list">
      <div class="col-sm-5 col-xl-4 card-box">
        <div class="card">
          <div class="card-block">
            <h2 class="card-text">Mulit-projection Project</h2>
            <h5 class="card-text">Development of Realistic Media and Presentation System for large Auditorium</h5>
            <div class="card-desc">
              <div class="card-desc-title">Area</div>
              <div class="card-desc-text">
                <p class="card-text">Immersive media display system, Multi-projection contents optimization</p>
              </div>
            </div>
            <div class="card-desc">
              <div class="card-desc-title">Partners</div>
              <div class="card-desc-text">
                <p class="card-text">KAI Co. CJ CGV Co.</p>
              </div>
            </div>
            <div class="card-desc">
              <div class="card-desc-title">Team</div>
              <div class="card-desc-text">
                <p class="card-text">Eve</p>
              </div>
            </div>
            <div class="card-desc">
              <a href="#" class="btn btn-primary">More</a>
            </div>


          </div>
        </div>
      </div>
      <div class="col-sm-7 col-xl-6 card-box">
        <div class="card"><img src="img/project_img_01-650.jpg" class="project-img" />
        </div>
      </div>
    </div>

    <ngb-pagination class="pagination" [maxSize]="5" [collectionSize]="170"  [(page)]="page" [boundaryLinks]="true"></ngb-pagination>



  </div>
</div>
