<div class="flex-content">
  <div class="make_dimmer"></div>
  <div class="content col-sm-12 container-fluid">

    <div class="row year">
      <h2 class="year-title">{{id}}</h2>
      <div *ngFor="let pub of aYearDatas" class="publication-box">
        <div class="publication-img"></div>
          <img [src]='pub.img'>
        <div class="publication-desc">
          <h3 class="publication-desc-title publication-text">{{pub.title}}</h3>
          <h5 class="publication-desc-subtitle publication-text">Byungkuk, Roger i Ribera, J.P. Lewis, Yeongho Seol, Seokpyo Hong, Haegwang Eom, Sunjin Jung, and Junyoung Noh</h5>
          <div class="publication-text">
            {{pub.conference}}{{pub.journal}}{{pub.thesisInfo}}
          </div>
          <div class="publication-link publication-text">
            <a [href]='pub.projectPage'>Project Page / Paper</a>
          </div>
        </div>
      </div>
