<div class="flex-content">
  <div class="make_dimmer"></div>
  <div class="content col-sm container-fluid">
    <div class="row no-gutters">

      <h2 class="about-title text-center">Working with Visual Media Lab</h2>

      <h5 class="text-center">Visual Media Lab is looking for ...</h5>

      <div class="member_image_box col-sm-12">
        <!-- card container-->
        <div class="partner-box col-sm-12 col-md-6 col-lg-3">
          <div class="partner-img"><img src="img2/about_admission_01.png" alt="Partner Company Img"/></div>
          <div class="partner-text partner-title"><strong>Postdoc Researchers</strong></div>
          <div class="partner-text"> Highly motivated postdoc researchers in the area of character animation, fluid simulation or computer vision.</div>
        </div>
        <!-- card container-->
        <div class="partner-box col-sm-12 col-md-6 col-lg-3">
          <div class="partner-img"><img src="img2/about_admission_02.png" alt="Partner Company Img"/></div>
          <div class="partner-text partner-title"><strong>Postdoc Researchers</strong></div>
          <div class="partner-text"> Highly motivated postdoc researchers in the area of character animation, fluid simulation or computer vision.</div>
        </div>
        <!-- card container-->
        <div class="partner-box col-sm-12 col-md-6 col-lg-3">
          <div class="partner-img"><img src="img2/about_admission_03.png" alt="Partner Company Img"/></div>
          <div class="partner-text partner-title"><strong>Postdoc Researchers</strong></div>
          <div class="partner-text"> Highly motivated postdoc researchers in the area of character animation, fluid simulation or computer vision.</div>
        </div>
        <!-- card container-->
        <div class="partner-box col-sm-12 col-md-6 col-lg-3">
          <div class="partner-img"><img src="img2/about_admission_03.png" alt="Partner Company Img"/></div>
          <div class="partner-text partner-title"><strong>Postdoc Researchers</strong></div>
          <div class="partner-text"> Highly motivated postdoc researchers in the area of character animation, fluid simulation or computer vision.</div>
        </div>
      </div>
    </div>


    <div class="row no-gutters">
      <h2 class="about-title">Contact Us
        <h4 class="about-text">Mailing Address</h4>
        <div class="about-text">
          Visual Media Lab, KAIST <br>
          373-1 Guseong-dong, Yuseong-gu Daejeon, 305-701, Republic of Korea <br><br>
          <strong>Tel :</strong> +82-42-350-5918 <br>
          <strong>Email :</strong> visualmedia_at_kaist.ac.kr <br>
        </div>
      </h2>
    </div>
  </div>
</div>