@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
@import '_variables.scss';

body {
    font-family: 'Lato', sans-serif;
}

html {
    // fonts decided from the clients. Lato. Currently using light regular bold
    height: 100%;
    margin: 0;
    padding: 0;
}

// this is for the holyGrail layout
body {
    
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    .main {
        display: flex;
        .flex-content {
            flex-grow:1;
            display: flex;
        }
    }
}

.main {
    // this margin is for the fixed navbar height margin. (6rem of nav)
    margin-top: $navbar_height;
}

// for sidebar margin
.flex-content {
    margin-left: $sidebar-width;
}

@media (max-width: 1199px) {
    .flex-content {
        margin-left: 0;
    }
}

// This is the part where beside functional aspects, the major contents ALL go in
.content {
    margin: 0;
    padding: 0;
    justify-content: center;
}

///// hide the scroll but able to scroll 
html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 1px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: $primary_orange;
}


