<div class="breadcrumb-row row">
  <ol class="breadcrumb col-xs">
    <a routerLink=""><img [src]='logoPath' width="168px" class="logo-white"></a>
    <li><img [src]='menuIconPath' (click)='onClicked()' fill-opacity="0" width="30px" class="sb_menu"></li>
    <li class="search"><img [src]='searchIconPath' fill-opacity="0" width="30px" class="search_btn" />
      <input class="search_bar" />
    </li>
    <li>
      <a routerLink="/">home</a>
    </li>
    <li class="breadcrumb-item" *ngFor="let breadcrumb of breadcrumbs">
      <a routerLink='' [innerHtml]='breadcrumb' ></a>
    </li>
  </ol>
</div>
