@import '../../../../assets/css/_variables.scss';

div {
    // border: 1px solid red;
}
.row {
    justify-content: center;
}

p, td {
    color: rgba(0,0,0,0.54);
}

.person-img {
    width: 400px;
    height: 400px;
    img {
        width: 100%;
        margin-bottom: 3.5rem;
    }
    margin-right: 3.5rem;
}

.person-desc {
    max-width: 700px;

    flex-grow: 1;
    min-height: 100vh;
    hr {
        margin-bottom: 1.5rem;
    }
    .topics {
        margin-bottom: 0.3rem;
    }
    table {
        max-width: 600px;

        .table-year {
            width: 10rem;
            padding-left: 0;
        }
    }
    .projects {
        display:flex;
        flex-flow: row wrap;
        justify-content: space-between;
        // padding: 0 1.5rem;
        width:100%;
        .project-item {
            width:330px;
            margin-bottom: 1.5rem;
            img {
                width: 100%;
            }
        }
        .video-item {
            width:220px;
            margin-bottom: 1.5rem;
            img {
                width: 100%;
            }
        }
    }
}
      