<div class="sidebar" [ngClass]='{"open":state}'>
  <div class="sidebarInner">
    <nav>
      <dl *ngFor="let link of sbLinks">
        <dt (click)="link.isOpen = !link.isOpen">{{link.firstLink[1]}}</dt>
        <div class="navbar_list">
          <dd [ngClass]="{'open': link.isOpen}" >
            <a *ngFor="let subLink of link.secondLink" (click)='sbMenuClicked()' routerLink="content/{{subLink[0]}}">{{subLink[1]}}</a>
          </dd>
        </div>
      </dl>
    </nav>
    <div class="legal"></div>
  </div>
</div>
<div class="make_dimmer" [ngClass]='{"dimmer":state}'></div>