<div class="flex-content">
  <div class="make_dimmer"></div>
  <div class="content col-sm container-fluid">
    <div class="row year">
      <h2 class="year-title">2016</h2>

      <div *ngFor="let new of news" class="col-sm-10 news-box">
        <div class="news-date">
          <h1>{{new.date[0]}}</h1>
          <h4>{{new.date[1] | uppercase}}</h4>
        </div>
        <div class="news-img">
        </div>
        <div class="news-desc">
          <h3 class="news-text">{{new.title}}</h3>
          <div class="news-text">{{new.desc}}</div>
        </div>
      </div>

    </div>
    <div class="row year">
      <h2 class="year-title">2015</h2>

    </div>
    <div class="row year">
      <h2 class="year-title">2014</h2>

    </div>
  </div>
</div>
