<div class="flex-content">
  <div class="content col-sm container-fluid">

    <div *ngFor="let data of datas" class="row list">
      <!--<h2 class="year-title" [id]='id' >{{id}}</h2>-->
      <div class="col-sm-12 year display-4" [id]='data[0].year'>
        {{data[0].year}}
      </div>

      <div *ngFor="let news of data" class="data-box">

        <div class="data-date">
          <h2 class="text-center date">{{news.day}}</h2>
          <h5 class="text-center date">{{news.month | numToMonth }}</h5>
          <p class="text-center date">{{news.year}}</p>
        </div>

        <div class="data-img">
          <img src="http://placehold.it/800x600">

        </div>
        <div class="data-desc">
          <h3 >{{news.title}}</h3>
          <p class="menu01">{{news.desc}}</p>
        </div>

      </div>

      <hr/>

    </div>

  </div>
</div>

<!--<div class="flex-content">
  <div class="make_dimmer"></div>
  <div class="content col-sm container-fluid">
    <div class="row year">
      <h2 class="year-title">2016</h2>

      <div *ngFor="let new of news" class="col-sm-10 news-box">
        <div class="news-date">
          <h1>{{new.date[0]}}</h1>
          <h4>{{new.date[1] | uppercase}}</h4>
        </div>
        <div class="news-img">
        </div>
        <div class="news-desc">
          <h3 class="news-text">{{new.title}}</h3>
          <div class="news-text">{{new.desc}}</div>
        </div>
      </div>

    </div>
    <div class="row year">
      <h2 class="year-title">2015</h2>

    </div>
    <div class="row year">
      <h2 class="year-title">2014</h2>

    </div>
  </div>
</div>-->
