<div class="flex-content">
  <div class="content col-sm container-fluid">
    <form>
      <div>
        <button></button>
        <button></button>
        <label for="search-input"></label>
      </div>
    </form>
    <div class="row year">
      <h2 class="year-title">{{id}}</h2>
      <div *ngFor="let seminar of aYearSeminars" class="weekly-box">
        <div class="weekly-img"></div>
        <div class="weekly-desc">
          <h3 class="weekly-text">{{seminar.title}}</h3>
          <strong>Presenter: {{seminar.presenter}}, {{seminar.type}} student</strong>
          <div class="weekly-date">Date: {{seminar.date}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
