
<div class="flex-content">

  <div class="make_dimmer"></div>
  <div class="content col-sm container-fluid">
    
    <div class="row content-row">

      <div class="member col-sm-12">
        <h2 class="member-status col-sm-12" id="Professor">
          Professor
          <hr/>
        </h2>
        <!-- card container-->
        <div *ngFor="let person of datas.professor " class="student-box col-sm-12 col-md-6 col-lg-4">
          <div class="student-img">
            <img [src]=" imgPath + person.img">
          </div>
          <div class="student-text">
            <h5 class="name">{{person.name}}<sub>{{person.status}}</sub></h5>
            <h6 *ngIf='person.topics !== ""'>INTERESTED TOPICS</h6>
            <p>{{person.topics}}</p>
            <h6 *ngIf='person.email !== ""'>E-MAIL</h6>
            <p>{{person.email}}</p>
            <h6 *ngIf='person.team !== ""'>TEAM</h6>
            <p>{{person.team}}</p>
            <h6 *ngIf='person.affiliation!== ""'>AFFILIATION</h6>
            <p>{{person.affiliation}}</p>
          </div>
        </div>
      </div>

      <div class="member col-sm-12">
        <h2 class="member-status col-sm-12" id="Doctor">
          Doctor
          <hr/>
        </h2>
        <!-- card container-->
        <div *ngFor="let person of datas.doctor" class="student-box col-sm-12 col-md-6 col-lg-4">
          <div class="student-img">
            <img [src]=" imgPath + person.img">
          </div>
          <div class="student-text">
            <h5 class="name">{{person.name}}<sub>{{person.status}}</sub></h5>
            <h6 *ngIf='person.topics !== ""'>INTERESTED TOPICS</h6>
            <p>{{person.topics}}</p>
            <h6 *ngIf='person.email !== ""'>E-MAIL</h6>
            <p>{{person.email}}</p>
            <h6 *ngIf='person.team !== ""'>TEAM</h6>
            <p>{{person.team}}</p>
            <h6 *ngIf='person.affiliation!== ""'>AFFILIATION</h6>
            <p>{{person.affiliation}}</p>
          </div>
        </div>
      </div>

      <div class="member col-sm-12">
        <h2 class="member-status col-sm-12" id="Master">
          Master
          <hr/>
        </h2>
        <!-- card container-->
        <div *ngFor="let person of datas.master" class="student-box col-sm-12 col-md-6 col-lg-4">
          <div class="student-img">
            <img [src]=" imgPath + person.img">
          </div>
          <div class="student-text">
            <h5 class="name">{{person.name}}<sub>{{person.status}}</sub></h5>
            <h6 *ngIf='person.topics !== ""'>INTERESTED TOPICS</h6>
            <p>{{person.topics}}</p>
            <h6 *ngIf='person.email !== ""'>E-MAIL</h6>
            <p>{{person.email}}</p>
            <h6 *ngIf='person.team !== ""'>TEAM</h6>
            <p>{{person.team}}</p>
            <h6 *ngIf='person.affiliation!== ""'>AFFILIATION</h6>
            <p>{{person.affiliation}}</p>
          </div>
        </div>
      </div>


      <div class="member col-sm-12">
        <h2 class="member-status col-sm-12" id="Former">
          Former
          <hr/>
        </h2>
        <!-- card container-->
        <div *ngFor="let person of datas.former" class="student-box col-sm-12 col-md-6 col-lg-4">
          <div class="student-img">
            <img [src]=" imgPath + person.img">
          </div>
          <div class="student-text">
            <h5 class="name">{{person.name}}<sub>{{person.status}}</sub></h5>
            <h6 *ngIf='person.topics !== ""'>INTERESTED TOPICS</h6>
            <p>{{person.topics}}</p>
            <h6 *ngIf='person.email !== ""'>E-MAIL</h6>
            <p>{{person.email}}</p>
            <h6 *ngIf='person.team !== ""'>TEAM</h6>
            <p>{{person.team}}</p>
            <h6 *ngIf='person.affiliation!== ""'>AFFILIATION</h6>
            <p>{{person.affiliation}}</p>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
