@import '../../../../assets/css/_variables.scss';

.content-row {
    // fixing row under col margin bug
    justify-content: center;
    align-items: center;
}

.people {
    // row
    display: flex;
    flex-wrap:wrap;
    max-width: 1250px;
    
    margin-bottom: 1rem;


    .people-status {
        margin-bottom: 2.5rem;
    }

    .people-box {
        margin: auto;
        margin-bottom: 3.5rem;
        padding: 0 1.5rem;

        .people-img img:hover {
            -webkit-filter: grayscale(100%) contrast(80%);
        }
        .people-img {
            display: flex;
            align-items: center;
            img {
                border-radius: 50%;
                margin: 0 auto;
                margin-bottom: 1.5rem;
                width: 240px;
            }
        }
        .people-img:hover button {
            display: block;
        } 
        .people-img button {
            background-color: $primary_light_grey;
            color: $primary_dark_grey;
            font-weight: 400;
            opacity:0.85;

            position: absolute;
            display:none;
            left:140px;
            top:85px;
            width: 63px;
            height: 63px;
        }


        .people-text {
            display: flex;
            justify-content: center;
            flex-flow:column;
            align-items: center;
            .name {
                margin-bottom:0.75rem;
            }
            sub {
                color: $primary_orange;
            }
        }
    }
}
