@import '../../assets/css/_variables.scss';

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
body {
    font-family: 'Lato', sans-serif;
}

// for overlay noscroll issue
.noscroll {
    overflow: hidden;
    // this is for ios
    height: 100%;
}

.menu_btn {
    display: none;
}

.header {
    position: relative;
    background-position: 50% center;
    background-size: cover;
    // for this page to be 'scroll-available'
    height: 100vh;
    .title {
        position: absolute;
        top: 50%;
        left:50%;
        transform: translate(-50%, -50%);
        color:white;
    }
}
@media (max-width: 991px) {
    .title p {
        display: none;
    }

}

.content {
    padding: 0 2rem 5rem 2rem;
    .news {
        max-width: 1050px;
        margin: auto;
    }
    .Heading {
        padding: 4rem 0 4rem 0;
    }
    .card-deck-wrapper {
        margin:auto;
        .card-deck {
            justify-content: center;
            .card {
                max-width: 350px;
                margin-bottom: 1.5rem;
            }
        }
    }
    .card-columns {
        margin:auto;
        .issueCard {
            margin:auto;
            max-width: 300px;
            margin-bottom: 1.5rem;
            img.sel-img {
                // -webkit-animation: sel-img-animation 0.3s 1;
                filter: brightness(30%);
            }

        }
    }
}

.footer {
    // need some space around the footer box
    padding: 3rem 5rem 3rem 5rem;
    background-color: $primary_dark_grey;
    color: $primary_white;
    margin: 0;
    height: 400px;
}
