<router-outlet></router-outlet>
<div class="flex-content">
  <div class="content col-sm-12 container-fluid">
    <div class="row area no-gutters">
      <div class="area-desc col-sm-4">
        <p class="display-4 text-center">
          ENHANCED VISUAL EXPERIENCE
        </p>
      </div>
      <div class="area-desc col-sm-4">
        <p class="display-4 text-center">
          CHARACTER
        </p>
      </div>
      <div class="area-desc col-sm-4">
        <p class="display-4 text-center">
          COMPUTING FOR LAZY LIFE
        </p>
      </div>
    </div>

  </div>
</div>